.heading {
  font-family: 'roboto';
  font-size: 22px;
  font-weight: 600;
  text-decoration: underline;
  text-decoration-color: royalblue;
  color: #4656a1;
  margin-top: 20px;
  margin-left: 30px;
}
@media (min-width: 700px) {
  .heading {
    font-family: 'roboto';
    font-size: 22px;
    font-weight: 600;
    color: #4656a1;
    margin-top: 40px;
    margin-left: 80px;
  }
}
.unordered {
  display: flex;
  flex-wrap: wrap;
}
.center {
  display: flex;
  flex-direction: column;
}
.button {
  background-color: #4656a1;
  height: 26px;
  width: 70px;
  border: none;
  color: white;
}
.oops {
  font-family: 'roboto';
  font-size: 22px;
  font-weight: 800;
  color: #1e293b;
  margin-bottom: 18px;
}
.We {
  font-family: 'roboto';
  font-size: 12px;
  color: #1e293b;
  margin-top: 0px;
}
